{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
font-family: PixelOperatorMonoSCBold;
src: url("fonts/PixelOperatorMonoSCBold.ttf");
}
 
@font-face {
font-family: PixelOperatorMonoSC;
src: url("fonts/PixelOperatorMonoSC.ttf");
}

@font-face {
 font-family: PixelOperatorMono;
 src: url("fonts/PixelOperatorMono.woff") format("woff");
}

@font-face {
 font-family: VisitorTT;
 src: url("fonts/VisitorTT.woff") format("woff");
}

header {
  background-color: #2f3045;
  padding: 10px 20px;
  display: flex;
    align-items: center;
}
 
 header center {
    margin: auto;
}
 
body {
  background-color: #181928;
}

.vcontacts{
		text-align:center;
		font-family: VisitorTT;
		margin-bottom: 5px;
}

.email{
	text-align:center;
		font-family: PixelOperatorMonoSC;
		color: white;
		margin-top: 0px;
		font-size: 20px;
		margin-bottom: 5px;
	
}

.sochub{
	width: 75%;
	display: flex;
	margin: auto;
}

footer {
    position: static; 
    left: 0; bottom: 0; 
    background: #1e1924; 
    color: #464057;  
   }
   .fig {
    text-align: center; 
   }
   
   
   .rank-header{
font-family: VisitorTT;
text-align: center;
color: white;
}

.table-users-light-gray-bg{
background-color: #2F3045;
padding: 10px 18px 32px;
}

.users-table-header{
color: white;
font-family: PixelOperatorMonoSC;
}

.users-table-body{
color: white;
background: #19171F;
font-family: PixelOperatorMonoSC;
}

.table mgb-0{

	width: 200px; 
    margin: auto; 
}
   
  .table-responsive{
  margin: auto;
  text-align:center;
  }
  
  .rank-content{
  width: 576px; 
    margin: auto; 
  
  }
  
  .rollblog-subtitle{
	  font-family: VisitorTT;
	  color: white;
	  font-size: 56px;
  }
  .home-wrapper-content-fix-foot{
	  width: 75%;
	  margin: auto;
  }
  
  .buy-text-word{
	  font-family: PixelOperatorMonoSC;
	  color: white;
	  font-size: 24px;
	  
  }
  
  NikkiNext{
	  color: white;	  
  }
  
  .top-block{
	  font-family: VisitorTT;
	  font-size: 24px;
  }
  
  .bottom-block{
	  font-family: PixelOperatorMonoSC;
	  font-size: 24px;
  }
  #user-name{
	  margin-top: 0px;
    margin-bottom: 0px;	  
  }
  
 .wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
} 
  